<!DOCTYPE html>
<html>

<head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h1>Welcome
    </h1>
    <form method="POST" action="/greet-post">
        Firstname: <input type="text" id="firstname" name="firstname">
        <br>
        Lastname: <input type="text" id="lastname" name="lastname">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>